@model IEnumerable<RadioMaster.Models.CartLine>

@{
    ViewData["Title"] = "Корзина";
}

<h1>Корзина</h1>
<p>Click <a asp-action="Index">here</a> to see catalog.</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Item Type</th>
            <th>Price</th>
            <th>Count</th>
            <th>Sum</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <script>
            var total = 0;
        </script>
        @foreach (RadioMaster.Models.CartLine x in Model)
        {
            <tr>
                <td>@x.Item.Name</td>
                <td>@x.Item.ItemType.Name</td>
                <td>@x.Item.Price</td>
                <td>@x.Count</td>
                <td class="lineSum">
                    <script>
                        var price = @x.Item.Price;
                        var count = @x.Count;
                        total += price * count;
                        document.write(price * count)
                    </script>
                </td>
                <td><a asp-controller="Shop" asp-action="RemoveLineFromCart" asp-route-idItem=@x.Item.Id>Убрать из корзины</a></td>
            </tr>
        }
    </tbody>
</table>
<p id="total">
    Итого: 
    <script>
        document.write(total);
    </script>
</p>